:root {
  /*Heights*/
  --header-height: 44px;
  --sidebar-height: calc(100vh - var(--header-height));
  --sidebar-width: 240px;
  --sidebar-right-width: 400px;

  --default-padding: 20px;
  --border-radius: 6px;

  /*Colors*/
  --primary-color: #350d36;
  --secondary-color: #3f0e40;
  --inverted-primary-color: rgba(199, 199, 199, 0.44);
}
