:root {
  /*Heights*/
  --header-height: 44px;
  --sidebar-height: calc(100vh - var(--header-height));
  --sidebar-width: 240px;
  --sidebar-right-width: 400px;

  --default-padding: 20px;
  --border-radius: 6px;

  /*Colors*/
  --primary-color: #87ae1d;
  --secondary-color: #262878;
  --inverted-primary-color: rgba(219, 255, 10, 0.44);
}
