.header {
  background: var(--primary-color);
  height: var(--header-height);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;

  .userAvatar {
    cursor: pointer;
  }

}
